<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁-聯合報系 United Daily News Group</title>
    <link rel="stylesheet" href="./resources/css/index.css">
    <script src="./w3.js"></script>
</head>

<body>
    <header w3-include-html="header/header.html"></header>
    
    <!-- data 區塊開始 -->
    <div class="main">
        <!-- 最新消息(輪播) -->
        <div id="activiti" class="slideshow" w3-include-html="slideshow/slideshow.html"></div>

        <!-- 迴圈產生資料 -->
        <div id="app" class="container">
            <div v-for="(type1TH, idx1TH) in sectionTypes.childTaxonomies" :id="type1TH.taxonomyId" class="large-category-article">
                <!-- 媒體發展 -->
                <div v-if="idx1TH == 1">
                    <div class="indexTitle">{{type1TH.taxonomyName}}</div>
                    <div class="note">{{type1TH.desc}}</div>
                    <div :w3-include-html="`article/mediaFeature/mediaFeature.html`"></div>
                </div>
                <div v-else>
                    <div class="indexTitle">{{type1TH.taxonomyName}}</div>
                    <div class="tabs-2th">
                        <div v-for="(type2TH, idx2TH) in type1TH.childTaxonomies"
                            :class="['tab',{'selected': isCurrentTab(`${type1TH.taxonomyId}1TH`,type2TH.taxonomyId)}]"
                            @click="selectedTab(`${type1TH.taxonomyId}1TH`, type2TH.taxonomyId)"
                            :data-id="type2TH.taxonomyId">
                            {{type2TH.taxonomyName}}
                        </div>
                    </div>
                    <div v-for="(type2TH, idx2TH) in type1TH.childTaxonomies" :id="type2TH.taxonomyId" class="secend-category-article" v-if="isCurrentTab(`${type1TH.taxonomyId}1TH`,type2TH.taxonomyId)">
                        <div v-if="type2TH.childTaxonomies.length == 0" :w3-include-html="`article/${type1TH.taxonomyId}/${type2TH.taxonomyId}.html`"></div>
                        <div v-else>
                            <div class="tabs-3th">
                                <div v-for="(type3TH, idx3TH) in type2TH.childTaxonomies"
                                :class="['tab', {'selected': isCurrentTab(`${type2TH.taxonomyId}2TH`,type3TH.taxonomyId)}]"
                                @click="selectedTab(`${type2TH.taxonomyId}2TH`, type3TH.taxonomyId)"
                                :data-id="type3TH.taxonomyId">
                                    {{type3TH.taxonomyName}}
                                </div>
                            </div>
                            <div v-for="(type3TH, idx3TH) in type2TH.childTaxonomies" :id="type3TH.taxonomyId" class="third-category-article" v-if="isCurrentTab(`${type2TH.taxonomyId}2TH`,type3TH.taxonomyId)">
                                <div v-if="type3TH.childTaxonomies.length == 0" :w3-include-html="`article/${type1TH.taxonomyId}/${type2TH.taxonomyId}/${type3TH.taxonomyId}.html`"></div>
                                <div v-else>
                                    <div class="tabs-4th">
                                        <div v-for="(type4TH, idx4TH) in type3TH.childTaxonomies"
                                        :class="['tab', {'selected': isCurrentTab(`${type3TH.taxonomyId}3TH`,type4TH.taxonomyId)}]"
                                        @click="selectedTab(`${type3TH.taxonomyId}3TH`, type4TH.taxonomyId)"
                                        :data-id="type4TH.taxonomyId">
                                            {{type4TH.taxonomyName}}
                                        </div>
                                    </div>
                                    <div v-for="(type4TH, idx4TH) in type3TH.childTaxonomies" :id="type4TH.taxonomyId" class="fourth-category-article" v-if="isCurrentTab(`${type3TH.taxonomyId}3TH`,type4TH.taxonomyId)">
                                        <div :w3-include-html="`article/${type1TH.taxonomyId}/${type2TH.taxonomyId}/${type3TH.taxonomyId}/${type4TH.taxonomyId}.html`"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- <div id="knowUDN" class="large-category-article">
            <div class="container">
                <div class="indexTitle">認識聯合報系</div>
                <div class="tabs-2th">
                    <div class="tab selected" onclick="selectTabs(event, '#knowUDN', 2)" data-id="udnVision">願景工程</div>
                    <div class="tab" onclick="selectTabs(event, '#knowUDN', 2)" data-id="coreValue">核心價值</div>
                    <div class="tab" onclick="selectTabs(event, '#knowUDN', 2)" data-id="udnOwner">經營團隊</div>
                    <div class="tab" onclick="selectTabs(event, '#knowUDN', 2)" data-id="udnAwards">榮耀時刻</div>
                </div>
                <div id="udnVision" class="secend-category-article showArticle" w3-include-html="article/udnVision.html"></div>
                <div id="coreValue" class="secend-category-article">核心價值</div>
                <div id="udnOwner" class="secend-category-article">經營團隊</div>
                <div id="udnAwards" class="secend-category-article">榮耀時刻</div>
            </div>
        </div> -->
        
        <!-- <div id="mediaFeature" class="large-category-article bg-gray">
            <div class="container">
                <div class="indexTitle">媒體發展</div>
                <div class="note">從15世紀古騰堡印刷術，到21世紀可攜式裝置；不論紙本數位，我們不斷精進媒體資訊傳播的工藝與技術，提供最適切有效的閱聽使用體驗。</div>
                <div class="slider-container">
                    <span class="prev"></span>
                    <div class="slider">
                        <div class="mediaCard" w3-include-html="article/mediaFeatureCard.html"></div>
                        <div class="mediaCard" w3-include-html="article/mediaFeatureCard.html"></div>
                        <div class="mediaCard" w3-include-html="article/mediaFeatureCard.html"></div>
                    </div>
                    <span class="next"></span>
                </div>
            </div>
        </div>
        <div id="businessMap" class="large-category-article">
            <div class="container">
                <div class="indexTitle">事業版圖</div>
                <div class="tabs-2th">
                    <div class="tab selected" onclick="selectTabs(event, '#businessMap', 2)" data-id="buMap">事業版圖</div>
                    <div class="tab" onclick="selectTabs(event, '#businessMap', 2)" data-id="mediaMap">媒體事業</div>
                    <div class="tab" onclick="selectTabs(event, '#businessMap', 2)" data-id="multBu">多元事業</div>
                </div>
                <div id="buMap" class="secend-category-article showArticle" w3-include-html="article/buMap.html">事業版圖</div>
                <div id="mediaMap" class="secend-category-article">
                    <div class="tabs-3th">
                        <div class="tab selected" onclick="selectTabs(event, '#mediaMap', 3)" data-id="udn">聯合報</div>
                        <div class="tab" onclick="selectTabs(event, '#mediaMap', 3)" data-id="udn_money">經濟日報</div>
                        <div class="tab" onclick="selectTabs(event, '#mediaMap', 3)" data-id="udn_com">聯合線上</div>
                        <div class="tab" onclick="selectTabs(event, '#mediaMap', 3)" data-id="udn_world">世界日報</div>
                    </div>
                    <div id="udn" class="third-category-article showArticle">聯合報</div>
                    <div id="udn_money" class="third-category-article">經濟日報</div>
                    <div id="udn_com" class="third-category-article">聯合線上</div>
                    <div id="udn_world" class="third-category-article">世界日報</div>
                </div>
                <div id="multBu" class="secend-category-article">
                    多元事業
                </div>
            </div>
        </div>

        <div id="subscribe" class="large-category-article bg-gray">
            <div class="container">
                <div class="indexTitle">加入會員</div>
                <div class="tabs-2th">
                    <div class="tab selected" onclick="selectTabs(event, '#subscribe', 2)" data-id="becomeMember">成為會員</div>
                    <div class="tab" onclick="selectTabs(event, '#subscribe', 2)" data-id="membersInterests">會員權益</div>
                </div>
                <div id="becomeMember" class="secend-category-article showArticle">成為會員</div>
                <div id="membersInterests" class="secend-category-article">會員權益</div>
            </div>
        </div>

        <div id="joinUs" class="large-category-article">
            <div class="container">
                <div class="indexTitle">人才招募</div>
                <div class="tabs-2th">
                    <div class="tab selected" onclick="selectTabs(event, '#joinUs', 2)" data-id="focusJobs">焦點職缺</div>
                    <div class="tab" onclick="selectTabs(event, '#joinUs', 2)" data-id="careerDevelopment">職涯發展</div>
                    <div class="tab" onclick="selectTabs(event, '#joinUs', 2)" data-id="jobBenefits">薪資福利</div>
                    <div class="tab" onclick="selectTabs(event, '#joinUs', 2)" data-id="workEnvironment">工作環境</div>
                </div>
                <div id="focusJobs" class="secend-category-article showArticle">成為會員</div>
                <div id="careerDevelopment" class="secend-category-article">職涯發展</div>
                <div id="jobBenefits" class="secend-category-article">薪資福利</div>
                <div id="workEnvironment" class="secend-category-article">工作環境</div>
            </div>
        </div> -->
    </div>

    <footer w3-include-html="footer/footer.html"></footer>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="./resources/js/app.js"></script>


</html>