[data-templet-mobile="article-templet-full-image"] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    [data-templet-mobile="article-templet-full-image"] .full-image {
        width: 100%;
    }

    [data-templet-mobile="article-templet-full-image"] .udn-btn {
        width: 100%;
        margin-top: 40px;
    }

        [data-templet-mobile="article-templet-full-image"] .udn-btn .icon {
            margin-left: 8px;
            width: 16px;
            width: 16px;
        }