[data-templet-mobile="article-templet-grid-vertical"] .sub-title {
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    text-justify:inter-ideograph;
    margin-bottom: 10px;
}

[data-templet-mobile="article-templet-grid-vertical"] .text {
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--black);
    font-size: 20px;
    font-weight: 300;
    padding: 0px 0 20px;
    margin: 0;
}

[data-templet-mobile="article-templet-grid-vertical"] .text-info {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--gray-c4);
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0;
}

[data-templet-mobile="article-templet-grid-vertical"] .grid-two-col {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 16px 0;
}

[data-templet-mobile="article-templet-grid-vertical"] .grid-two-col > * {
    padding: 0;
}

[data-templet-mobile="article-templet-grid-vertical"] .image {
    width: 100%;
}
    
[data-templet-mobile="article-templet-grid-vertical"] .description-right {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0 20px;
    color: var(--gray-c4);
    font-size: 16px;
    font-weight: 300;
}

[data-templet-mobile="article-templet-grid-vertical"] .media-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 24px auto 0;
}

    [data-templet-mobile="article-templet-grid-vertical"] .media-item {
        margin-right: 20px;
        margin-bottom: 24px;
    }

    [data-templet-mobile="article-templet-grid-vertical"] .social-media-item:last-of-type {
        margin-right: 0;
    }

