[data-template-mobile="article-template-udn-member"] {
    width: 100%;
}

    [data-template-mobile="article-template-udn-member"] .text-color-orange {
        color: var(--orange) !important;
    }

    [data-template-mobile="article-template-udn-member"] .text-slogan {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        color: var(--black);
        font-size: 20px;
        font-weight: 500;
    }
    
    [data-template-mobile="article-template-udn-member"] .sub-title {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        color: var(--black);
        font-size: 20px;
        font-weight: 500;
    }

    [data-template-mobile="article-template-udn-member"] .text {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        color: var(--black);
        font-size: 20px;
        font-weight: 300;
    }
    
    [data-template-mobile="article-template-udn-member"] .text-info {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        color: var(--gray-c4);
        font-size: 18px;
        font-weight: 300;
    }
    [data-template-mobile="article-template-udn-member"] .text-info:not(:last-of-type) {
        margin-bottom: 12px;
    }

        
    [data-template-mobile="article-template-udn-member"] .group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
        [data-template-mobile="article-template-udn-member"] .group > *:not(.arrow){
            width: 100%;
        }

        [data-template-mobile="article-template-udn-member"] .group > .text-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        [data-template-mobile="article-template-udn-member"] .group > .text-info .step {
            margin-left: 8px;
        }
        
        [data-template-mobile="article-template-udn-member"] .group > .arrow {
            margin: 4px auto;
        }

    [data-template-mobile="article-template-udn-member"] [data-horizontal="left"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 20px;
        border-bottom: 1px solid var(--gray-c3);
    }
        [data-template-mobile="article-template-udn-member"] [data-horizontal="left"] .middle {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }
    
    [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] {
        padding: 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] > .sub-title {
            margin-bottom: 24px;
        }
        [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] > .btn-group {
            margin-top: 24px;
        }
        [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] > .sign-up {
            margin: 24px auto;
        }
        [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] > .text-info {
            text-align: left;
        }

        [data-template-mobile="article-template-udn-member"] [data-horizontal="left"] > *,
        [data-template-mobile="article-template-udn-member"] [data-horizontal="right"] > * {
            width: 100%;
        }