[data-template-mobile="template-table"] {
    background-color: transparent;
    text-align: justify;
    padding: 0;
}

[data-template-mobile="template-table"] .text{
    font-size: 20px;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 40px;
}

[data-template-mobile="template-table"] .image-description {
    font-size: 18px;
    color: var(--gray-c4);
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 300;
    margin-top: 20px;
}

[data-template-mobile="template-table"] .sub-title {
    margin-bottom: 20px;
    color: var(--black);
}

    [data-template-mobile="template-table"] {
        display: block;
    }

        [data-template-mobile="template-table"] table:not(:first-child)  {
            border: none;
        }

    [data-template-mobile="template-table"] table,
    [data-template-mobile="template-table"] thead,
    [data-template-mobile="template-table"] tbody,
    [data-template-mobile="template-table"] tr,
    [data-template-mobile="template-table"] th,
    [data-template-mobile="template-table"] td {
        display: block;
    }

    [data-template-mobile="template-table"] thead {
        display: none;
    }

    [data-template-mobile="template-table"] table tbody tr {
        padding: 8px 16px;
    }

        [data-template-mobile="template-table"] table tbody tr:nth-child(odd) {
            background-color: #fbfbfb; 
        }


            [data-template-mobile="template-table"] table tbody tr td {
                padding: 8px 0;
                font-size: 18px;
                font-weight: 300;
                color: var(--black);
            }

            [data-template-mobile="template-table"] table tbody tr td a {
                    position: relative;
                    vertical-align: middle;
                }