[data-template-desktop="page-template-activity"] {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: var(--white);
}

    [data-template-desktop="page-template-activity"] [data-activity-header="full-image"] {
        width: 100%;
        height: 100%;
        padding: 40px 0;
    }

        [data-template-desktop="page-template-activity"] [data-activity-header="full-image"] .image {
            width: 100%;
        }


        [data-template-desktop="page-template-activity"] [data-activity-body="content"] .small-text {
            font-size: 18px;
            font-weight: 300;
            line-height: 1;
            color: var(--gray-c4);
        }
        [data-template-desktop="page-template-activity"] [data-activity-body="content"] .main-title{
            font-size: 48px;
            font-weight: 500;
            line-height: 1.5;
            color: var(--black);
        }
        [data-template-desktop="page-template-activity"] [data-activity-body="content"] .text{
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            color: var(--black);
        }
        [data-template-desktop="page-template-activity"] [data-activity-body="content"] .grid-two-col{
            display: grid;
            grid-template-columns: max-content auto;
            grid-gap: 12px 0;
        }

        [data-template-desktop="page-template-activity"] [data-activity-body="content"] [data-activity-block="horizontal-two-col"] {
            margin-bottom: 40px;
        }

        [data-template-desktop="page-template-activity"] [data-activity-body="content"] [data-activity-block="horizontal-two-col"] {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
        }

            [data-template-desktop="page-template-activity"] [data-activity-body="content"] [data-activity-block="horizontal-two-col"] [data-horizontal="left"], 
            [data-template-desktop="page-template-activity"] [data-activity-body="content"] [data-activity-block="horizontal-two-col"] [data-horizontal="right"] {
                width: 50%;
            }

            [data-template-desktop="page-template-activity"] [data-activity-body="content"] [data-position="right-bottom"] {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
            

