.udn-btn {
    width: 100%;
    padding: 10px 0;
    background: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .udn-btn.btn-orange {
        background-color: var(--orange);
        color: var(--white);
    }

    .udn-btn.btn-white {
        background-color: var(--white);
        color: var(--black);
        border: solid 1px var(--gray-c5);
    }

        .udn-btn.btn-white:hover {
            background-color: var(--black);
            border: 1px solid var(--black);
            color: var(--white);
        }