.udn-btn {
    min-width: 215px;
    padding: 10px 24px;
    background: none;
    border-radius: 24px;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
    .udn-btn .icon {
        margin-left: 8px;
        width: 18px;
        width: 18px;
    }

.btn-group {
    display: flex;
    align-items: center;
}

    .btn-group .udn-btn:not(:last-child) {
        margin-right: 40px;
    }

    .udn-btn.btn-orange {
        background-color: var(--orange);
        color: var(--white);
    }

    .udn-btn.btn-white {
        background-color: var(--white);
        color: var(--black);
        border: solid 1px var(--gray-c5);
    }

        .udn-btn.btn-white:hover {
            background-color: var(--black);
            border: 1px solid var(--black);
            color: var(--white);
        }

        .udn-btn.btn-white:active {
            background-color: var(--black);
            border: 1px solid var(--black);
            color: var(--white);
        }

            .udn-btn.btn-white:hover img ,
            .udn-btn.btn-white:active img{
                filter: invert(1);
            }

@media (max-width: 767px){
    .udn-btn {
        font-size: 18px;
    }
        .udn-btn .icon {
            margin-left: 8px;
            width: 16px;
            width: 16px;
        }

    .btn-group {
        display: block;
    }

        .btn-group .udn-btn:not(:last-child) {
            margin-bottom: 24px;
        }

}