.tab {
    cursor: pointer;
}

    .tab:first-child {
        margin-left: 0;
    }
    .tab:last-child {
        margin-right: 0;
    }

/* 二分類tabs */
.tabs-2th {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tabs-2th .tab {
    position: relative;
    margin: 0 18px;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 8px;
}
.tabs-2th .tab.selected {
    border-bottom: var(--orange) 3px solid;
}
.tabs-2th .tab.selected::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--orange) transparent transparent transparent;
}
/* 三分類tabs */
.tabs-3th {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.tabs-3th .tab {
    margin: 0 12px;
    padding: 12px 16px;
    font-size: 18px;
    line-height: 1;
    background-color: var(--gray-c3);
    border-radius: 21px;
}
.tabs-3th .tab.selected {
    background-color: var(--black);
    color: var(--white);
}

/* 四分類tabs */
.tabs-4th {
    display: flex;
    background-color: #f6f6f6;
    padding: 10px 24px;
    margin-bottom: 24px;
}
.tabs-4th .tab {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 8px;
    border-right: solid 1px var(--gray-c3);
}
.tabs-4th .tab:first-child {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 0;
}
.tabs-4th .tab:last-child {
    font-size: 18px;
    line-height: 1.5;
    padding-right: 0;
    border: none;
}
.tabs-4th .tab.selected {
    color: var(--orange);
}

@media (max-width: 767px) {
    .tabs-2th {
        margin-bottom: 38px;
    }
    .tabs-3th {
        margin-bottom: 20px;
    }
    .tab {
        font-size: 18px;
    }
}