.udn-btn {
    width: 354px;
    padding: 10px 24px;
    background: none;
    border-radius: 24px;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
    .udn-btn > .icon {
        margin-left: 8px;
        width: 18px;
        height: 18px;
    }

.btn-group {
    display: flex;
    align-items: center;
}

    .btn-group .udn-btn:not(:last-child) {
        margin-right: 40px;
    }

    .udn-btn.btn-orange {
        background-color: var(--orange);
        color: var(--white);
    }
        .udn-btn.btn-orange:hover,
        .udn-btn.btn-orange:active {
            background-color: #ee4700;
            color: var(--white);
        }

        .udn-btn.btn-orange:hover .icon,
        .udn-btn.btn-orange:hover .icon {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(264deg) brightness(106%) contrast(101%);
        }

    .udn-btn.btn-outline-light-gray {
        background-color: var(--white);
        color: var(--black);
        border: solid 1px #e4e4e4;
    }
        .udn-btn.btn-outline-light-gray:hover,
        .udn-btn.btn-outline-light-gray:active {
            background-color: var(--gray-c3);
            color: var(--black);
            border: solid 1px #e4e4e4;
        }

    .udn-btn.btn-outline-gray {
        background-color: var(--white);
        color: var(--black);
        border: solid 1px var(--gray-c5);
    }

        .udn-btn.btn-outline-gray:hover,
        .udn-btn.btn-outline-gray:active {
            background-color: var(--black);
            border: 1px solid var(--black);
            color: var(--white);
        }

            .udn-btn.btn-outline-gray:hover .icon ,
            .udn-btn.btn-outline-gray:active .icon {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }



@media (max-width: 767px){
    .udn-btn {
        font-size: 18px;
        width: 100%;
    }
        .udn-btn .icon {
            margin-left: 8px;
            width: 16px;
            width: 16px;
        }

    .btn-group {
        display: block;
    }
        .btn-group .udn-btn{
            width: 100%;
        }

        .btn-group .udn-btn:not(:last-child) {
            margin-bottom: 24px;
        }

}