.carousel {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.carousel .carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel .carousel-item > img {
    width: 100%;
    height: 100%;
}
.right-in-enter {
    left: 100%;
}
.right-in-enter-active, .right-in-leave-active {
    transition: left 0.5s;
}
.right-in-enter-to, .right-in-leave {
    left: 0%
}
.right-in-leave-to {
    left: -100%
}

.left-in-enter {
    left: -100%;
}
.left-in-enter-active, .left-in-leave-active {
    transition: left 0.5s;
}
.left-in-enter-to, .left-in-leave {
    left: 0%
}
.left-in-leave-to {
    left: 100%
}
.carousel .carousel-control {
    position: relative;
    height: 100%;
}
.carousel-control-prev, 
.carousel-control-next {
    position: absolute;
    top:45%;
    z-index: 1 ;
    width: 48px;
    height: 48px;
    background-color: var(--white);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carousel-control-prev:hover, 
.carousel-control-next:hover {
    background-color: var(--black);
}
.carousel-control-prev:hover > img, 
.carousel-control-next:hover > img {
    filter: invert(97%) sepia(0%) saturate(224%) hue-rotate(30deg) brightness(119%) contrast(100%);
}
.carousel-control-prev:active, 
.carousel-control-next:active {
    background-color: var(--black);
}
.carousel-control-prev:hover > img, 
.carousel-control-next:hover > img {
    filter: invert(97%) sepia(0%) saturate(224%) hue-rotate(30deg) brightness(119%) contrast(100%);
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}

@media (max-width: 1199px) {
    .carousel {
        height: 640px;
    }
    .carousel-control-prev {
        left: 10px;
    }
    .carousel-control-next {
        right: 10px;
    }
}

@media (max-width: 767px) {
    .carousel {
        height: 345px;
    }
}