/* 二分類tabs */
.tabs-2th {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tabs-2th .tab {
    position: relative;
    margin: 0 18px;
    line-height: 1.5;
    padding-bottom: 8px;
    cursor: pointer;
}
.tabs-2th .tab.selected {
    border-bottom: var(--orange) 3px solid;
}
.tabs-2th .tab.selected::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--orange) transparent transparent transparent;
}
/* 三分類tabs */
.tabs-3th {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.large-category-article { /* 大分類文章 */
    padding-top: 80px;
    padding-bottom: 80px;
}
.secend-category-article { /* 二分類文章 */
    display: none;
}
.third-category-article { /* 三分類文章 */

}
.fourth-category-article { /* 四分類文章 */

}

.showArticle {
    display: block;
}


@media (max-width: 1199px) {
    .large-category-article {
        padding-top: 40px;
        padding-bottom: 40px;
    } 
}

@media (max-width: 767px) {
    .tabs .tab {
        font-size: 18px;
    }
}