
/* 二分類tabs */
.tabs-2th {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tabs-2th .tab {
    position: relative;
    margin: 0 18px;
    line-height: 1.5;
    padding-bottom: 8px;
    cursor: pointer;
}
.tabs-2th .tab.selected {
    border-bottom: var(--orange) 3px solid;
}
.tabs-2th .tab.selected::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--orange) transparent transparent transparent;
}
/* 三分類tabs */
.tabs-3th {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.tabs-3th .tab {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 12px;
    padding: 12px 16px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    background-color: var(--gray-c3);
    border-radius: 21px;
}
.tabs-3th .tab.selected {
    background-color: var(--black);
    color: var(--white);
}

.large-category-article { /* 大分類文章 */
    padding-top: 80px;
    padding-bottom: 80px;
}
.secend-category-article { /* 二分類文章 */
    display: none;
}
.third-category-article { /* 三分類文章 */
    display: none;
}
.fourth-category-article { /* 四分類文章 */

}

.tab:first-child {
    margin-left: 0;
}
.tab:last-child {
    margin-right: 0;
}
.showArticle {
    display: block;
}


@media (max-width: 1199px) {
    .large-category-article {
        padding-top: 40px;
        padding-bottom: 40px;
    } 
}

@media (max-width: 767px) {
    .tabs-2th {
        margin-bottom: 38px;
    }
    .tabs-3th {
        margin-bottom: 20px;
    }
    .tab {
        font-size: 18px;
    }
}