@import '/resources/css/utilities/_reset.css';
@import '/resources/css/_var.css';


/* utilities */
@import '/resources/css/utilities/_site.css';
@import '/resources/css/utilities/_font.css';
@import '/resources/css/utilities/_spacing.css';

/* elements */
@import '/resources/css/elements/_tab.css';
@import '/resources/css/elements/_button.css';
@import '/resources/css/elements/_dropdown.css';
@import '/resources/css/elements/_carousel.css';

/* templet utilities */
@import '/resources/css/templet/utilities/article-background.css';
@import '/resources/css/templet/utilities/templet-popup.css';

/* templet desktop */
@import '/resources/css/templet/desktop/article-templet-full-image.css';
@import '/resources/css/templet/desktop/article-templet-grid-horizontal-two-col.css';
@import '/resources/css/templet/desktop/article-templet-grid-organization.css';
@import '/resources/css/templet/desktop/templet-table.css';
@import '/resources/css/templet/desktop/article-templet-albums.css';
@import '/resources/css/templet/desktop/article-templet-udn-member.css';
@import '/resources/css/templet/desktop/article-templet-udn-compensation-benefits.css';
@import '/resources/css/templet/desktop/page-templet-vertical.css';
@import '/resources/css/templet/desktop/page-templet-time-line.css';

/* templet mobile */
@import '/resources/css/templet/mobile/article-templet-full-image.css';
@import '/resources/css/templet/mobile/article-templet-grid-vertical.css';
@import '/resources/css/templet/mobile/article-templet-grid-organization.css';
@import '/resources/css/templet/mobile/templet-table.css';
@import '/resources/css/templet/mobile/article-templet-albums.css';
@import '/resources/css/templet/mobile/article-templet-udn-member.css';
@import '/resources/css/templet/mobile/article-templet-udn-compensation-benefits.css';
@import '/resources/css/templet/mobile/page-templet-vertical.css';
@import '/resources/css/templet/mobile/page-templet-time-line.css';



@import '/resources/css/menu.css';
@import '/resources/css/footer.css';


/* 待整理 */


.bg-gray {
    background-color: var(--gray-c1);
}

/* icon */
.prev {
    background-image: url(../icons/icon-leftarrow.svg);
}
.next {
    background-image: url(../icons/icon-rightarrow.svg);
}


/* 共同設定 */

ul[class*="disc"] li {
    list-style-type: none;
    list-style-position: inside;
    display: table;
    counter-increment: item;
}

    ul[class*="disc"] li::before {
        content: '•';
        padding-right: 0.6em;
        display: table-cell;
    }
    ul[class*="disc"].golden li::before {
        padding-right: 0.6em;
        color: var(--golden);
    }

ol {
    list-style-position: inside;
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
    ol > li {
        display: table;
        counter-increment: item;
    }
        ol > li::before {
            content: counters(item, ".");
            display: table-cell;
            padding-right: 0.6em;
        }

ul li:not(:first-of-type),ul li:not(:last-of-type) ,
ol li:not(:first-of-type),ol li:not(:last-of-type){
    padding-top: 6px;
    padding-bottom: 6px;
}

/* data 區塊開始 */
#app {
    position: relative;
    width: 100%;
    height: 100%; 
}

    #app .main {
        position: relative;
        margin-top: 65px;
        width: 100%;
        
    }

    #app .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
    }

    #app .indexTitle {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 24px;
    }
    #app  .note {
        line-height: 1.5;
        margin-bottom: 40px;
    }

    #app .large-category-article { /* 大分類文章 */
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #app .fourth-category-article { /* 四分類文章 */
        border: solid 1px var(--gray-c2);
        border-top: none;
        padding: 20px 24px;
    }

    #app .showArticle {
        display: block;
    }

    #app .fab-buttom {
        position: fixed;
        right: 40px;
        bottom: 40px;
        z-index: 1;
    }
    
    #app .fab-buttom a {
        display: block;
        background-color: var(--white);
        padding: 7px 10px;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    }



@media (max-width: 1199px) {

    #app .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #app .large-category-article {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #app .fourth-category-article {
        padding-left: 16px;
        padding-right: 16px;
    }

}

@media (max-width: 767px) {
    #app .indexTitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 413px) {
    #app .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}