@import './_var.css';


/* utilities */
@import './utilities/_site.css';
@import './utilities/_font.css';

/* elements */
@import './elements/_tab.css';
@import './elements/_button.css';
@import './elements/_dropdown.css';

/* article */
@import './article/article.css';


/* 待整理 */


ul {
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

a {
    color: var(--black);
    text-decoration: none;
    line-height: 1;
}
a:hover {
    color: var(--orange);
}

.bg-gray {
    background-color: var(--gray-c1);
}

/* icon */
.prev {
    background-image: url(../icons/icon-leftarrow.svg);
}
.next {
    background-image: url(../icons/icon-rightarrow.svg);
}

/* carousel-slider */
.slider-container {
    
}
.slider-container .slider {
    display: flex;
}
/* .prev, .next {
    z-index: 1;
    border-radius: 50px;
    background-color: var(--white);
} */

/* data 區塊開始 */
.main {
    margin-top: 65px;
}

.indexTitle {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}
.note {
    line-height: 1.5;
    margin-bottom: 40px;
}

@media (max-width: 1199px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    /* .container {
        padding-left: 16px;
        padding-right: 16px;
    } */
    .main {
        margin-top: 57px;
    }
    .indexTitle {
        font-size: 28px;
        margin-bottom: 20px;
    }
}