/* --- 導航選單 --- */
.slide-fade-enter-active {
    transition: all .5s ease-in-out;
}
.slide-fade-leave-active {
transition: all .5s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
transform: translateX(-100%);
opacity: 0;
}


nav {
    border-bottom: solid 1px #ebebeb;
    background-color: var(--white);
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

    nav .navContent {
        height: 64px;
    }

    nav .navContent .nav-pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        background-color: var(--white);
    }

        nav .navContent .nav-pc .menu-btn {
            display: none;
            margin-right: 24px;
            z-index: 3;
        }

        nav .navContent .nav-pc .udnLogo .img {
            display: block;
        }

        nav .navContent .login {
            display: none;
        }

            nav .navContent .nav-pc .menu-btn .btn {
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                cursor: pointer;
            }
            
            nav .navContent .nav-pc .menu-btn .btn .line {
                display: block;
                background-color: black;
                width: 24px;
                height: 2px;
                margin: 6px 0;
                transition: all .5s ease-in;
                position: relative;
            }

            nav .navContent .nav-pc .menu-btn .btn.active .line-top {
                transform: translateY(550%) rotate(45deg);
            }
              
            nav .navContent .nav-pc .menu-btn .btn.active .line-middle {
                opacity: 0;
            }
            
            nav .navContent .nav-pc .menu-btn .btn.active .line-bottom {
                transform: translateY(-220%) rotate(135deg);
            }

        nav .navContent .nav-pc .menus {
            display: flex;
            align-content: center;
        }

        nav .navContent .nav-pc .menus .menu-item {
            padding: 0 18px;
            font-size: 20px;
        }

            nav .navContent  .nav-pc .menus .menu-item:first-child {
                padding-left: 0;
            }

            nav .navContent .nav-pc .menus .menu-item:last-child {
                padding-right: 0;
            }

            nav .navContent .menus .menu-item .active {
                color: var(--orange)
            }


@media (max-width: 1199px) {

    nav .navContent {
        position: relative;
    }

    nav .navContent .nav-pc {
        justify-content: flex-start;
        z-index: 1;
    }

        nav .navContent .nav-pc .menus {
            display: none;
        }

        nav .navContent .nav-pc .menu-btn {
            display: block;
        }

        nav .navContent .nav-mb {
            position: fixed;
            top: 0;
            background-color: var(--white);
            z-index: 2;
            height: 100%;
            width: 100%;
        }
        
        nav .navContent .nav-mb .top {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 1px #ebebeb;
            height: 65px;
            padding: 0 30px;
        }

            nav .navContent .nav-mb .top .udnLogo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
            }

            nav .navContent .nav-mb .top .udnLogo .img{
                width: 143px;
            }

            nav .navContent .nav-mb .top .login {
                display: block;
            }

                nav .navContent .nav-mb .top .login a{
                    display: block;
                    white-space: nowrap;
                }

            nav .navContent .nav-mb .menus {
                position: absolute;
                background-color: var(--white);
                background: url('./../img/img-unn-emptylogo.png') right bottom no-repeat;
                background-size: 80%;
                width: calc(100% - 40px);
                height: calc(100% - 105px);
                overflow-y: auto;
                text-align: center;
                padding: 20px;
            }

            nav .navContent .nav-mb .menus .menu-item {
                font-size: 24px;
                margin: 20px 0 34px 0;
            }
}