body {
    font-family: NotoSansCJKtc, Roboto, 'Noto Sans TC', sans-serif;
    color: #212121;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

a {
    color: #212121;
    text-decoration: none;
}
a:hover {
    color: #ee6700;
}

.bg-gray {
    background-color: #fafafa;
}

/* data 區塊開始 */
.main {
    margin-top: 65px;
}

.indexTitle {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}

@media (max-width: 1199px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .main {
        margin-top: 57px;
    }
    .indexTitle {
        font-size: 28px;
        margin-bottom: 20px;
    }
}