/* 存放變數區 */
:root {

    /* 顏色 */
    --white: #ffffff;
    --gray-c1: #fafafa;
    --gray-c2: #f6f6f6;
    --gray-c3: #e0e0e0;
    --gray-c4: #616161;
    --gray-c5: #979797;
    --black: #212121;
    --orange: #ee6700;
    --light-orange: #fef3eb;
    --golden: #988734;
}