<nav>
    <div class="nav-pc container">
        <div class="menu-btn">
            <button :class="['btn',{'active':openNav}]" @click="openNav = !openNav">
                  <span class="line line-top"></span>
                  <span class="line line-middle"></span>
                  <span class="line line-bottom"></span>
            </button>
        </div> 

        <div class="udnLogo">
            <a class="img" href="/"><img class="udnLogo" src="/resources/icons/icon-udn-logo.svg" alt="聯合報系 United Daily News Group"></a>
        </div>

        <div class="menus">
            <div class="menu-item" v-for="menu in menus" v-if="menus.length != 0">
                <a :href="`#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                    v-smooth-scroll="{offset: -130}" @click="currentMenu = menu.taxonomyId" v-if="isHome && menu.taxonomyId == 'activiti'">
                </a>
                <a :href="`#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                    v-smooth-scroll="{offset: -65}" @click="currentMenu = menu.taxonomyId" v-else-if="isHome">
                </a>
                <a :href="`/#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                    @click="currentMenu = menu.taxonomyId" v-else>
                </a>
            </div>
            <div class="menu-item employee">
                <a href="/" title="員工登入" v-text="`員工登入`"></a>
            </div>
            <div class="menu-item">
                <a href="/demo.html" title="Demo" v-text="`Demo`"></a>
            </div>
        </div>
    </div>

    <transition name="slide-fade" v-if="media.isPadDown">
        <div class="nav-mb" v-show="openNav && media.isPadDown ">

            <div class="top">
                <div class="udnLogo">
                    <a class="img" href="/"><img class="udnLogo" src="/resources/icons/icon-udn-logo.svg" alt=""></a>
                </div>

                <div class="login">
                    <a href="/" class="active" title="員工登入" v-text="`員工登入`"></a>
                    <a href="/demo.html" class="active" title="Demo" v-text="`Demo`"></a>
                </div>
            </div>

            <div class="menus">
                <div class="menu-item" v-for="menu in menus" v-if="menus.length != 0">
                    <a :href="`#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                        v-smooth-scroll="{offset: -65}" @click="openNav = false" v-if="isHome && menu.taxonomyId == 'activiti'">
                    </a>
                    <a :href="`#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                        v-smooth-scroll="{offset: -65}" @click="openNav = false" v-else-if="isHome">
                    </a>
                    <a :href="`/#${menu.taxonomyId}`" :class="{'active': menu.taxonomyId == currentMenu}" title="menu.taxonomyName" v-text="menu.taxonomyName"
                        @click="openNav = false" v-else>
                    </a>
                </div>
            </div>
        </div>
    </transition>
</nav>

<div class="fab-button" v-show="isShowGoTop">
    <a href="#udn-header" v-smooth-scroll="{offset: -135}">
       <img class="icon" src="/resources/icons/icon-gotop.svg" alt=""> 
    </a>
</div>




