<div id="icon">
    <div class="box">
        <i class="icon icon-udn-logo"></i>
        <h4>icon-left-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-fb"></i>
        <h4>icon-fb</h4>
    </div>
    <div class="box">
        <i class="icon icon-ig"></i>
        <h4>icon-ig</h4>
    </div>
    <div class="box">
        <i class="icon icon-line"></i>
        <h4>icon-line</h4>
    </div>
    <div class="box">
        <i class="icon icon-youtube"></i>
        <h4>icon-youtube</h4>
    </div>
    <div class="box">
        <i class="icon icon-hamburger-btn"></i>
        <h4>icon-hamburger-btn</h4>
    </div>
    <div class="box">
        <i class="icon icon-close"></i>
        <h4>icon-close</h4>
    </div>
    <div class="box">
        <i class="icon icon-collapse"></i>
        <h4>icon-collapse</h4>
    </div>
    <div class="box">
        <i class="icon icon-left-arrow"></i>
        <h4>icon-left-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-right-arrow"></i>
        <h4>icon-right-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-gotop"></i>
        <h4>icon-gotop</h4>
    </div>
    <div class="box">
        <i class="icon icon-new-window"></i>
        <h4>icon-new-window</h4>
    </div>
    <div class="box">
        <i class="icon icon-mail"></i>
        <h4>icon-mail</h4>
    </div>
    <div class="box">
        <i class="icon icon-edit"></i>
        <h4>icon-edit</h4>
    </div>
    <div class="box">
        <i class="icon icon-address"></i>
        <h4>icon-address</h4>
    </div>
    <div class="box">
        <i class="icon icon-locationmap"></i>
        <h4>icon-locationmap</h4>
    </div>
    <div class="box">
        <i class="icon icon-down-arrow"></i>
        <h4>icon-down-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-step-right-arrow"></i>
        <h4>icon-step-right-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-step-down-arrow"></i>
        <h4>icon-step-down-arrow</h4>
    </div>
    <div class="box">
        <i class="icon icon-attached"></i>
        <h4>icon-attached</h4>
    </div>
</div>

<style>
    #icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    #icon .box {
        width: 150px;
        height: 80px;
        padding: 10px;
        text-align: center;
        margin-bottom: 16px;
        display: grid;
        grid-template-rows: 1fr auto; 
        align-items: center; 
    }
</style>