[data-templet-desktop="article-templet-grid-horizontal-two-col"] {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .sub-title {
        text-align: justify;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text {
        text-align: justify;
        color: var(--black);
        font-size: 20px;
        font-weight: 300;
        padding: 10px 0;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text-info {
        text-align: left;
        color: var(--gray-c4);
        font-size: 18px;
        font-weight: 300;
        padding: 8px 0;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .grid-two-col {
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap: 16px 0;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .grid-two-col > * {
        padding: 0;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .image {
        width: 100%;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .description-right {
        display: flex;
        justify-content: flex-end;
        margin: 12px 0 20px;
        color: var(--gray-c4);
        font-size: 16px;
        font-weight: 300;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] .media-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 24px auto 0;
    }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .media-item {
            margin-right: 20px;
            margin-bottom: 24px;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .social-media-item:last-of-type {
            margin-right: 0;
        }


        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="left"] .sub-title:first-of-type,
        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="right"] .sub-title:first-of-type {
            margin-top: 0;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text:first-of-type,
        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text-info:first-of-type {
            padding-top: 0;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text:last-of-type,
        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text-info:last-of-type {
            padding-bottom: 0;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="left"],
        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="right"] {
            width: 50%;
            margin: 0 24px;
            position: relative;
        }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="left"] {
        margin-left: 0;
    }

    [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="right"] {
        margin-right: 0;
    }

@media (max-width: 767px) {
    [data-templet-desktop="article-templet-grid-horizontal-two-col"] {
        display: block;
    }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .sub-title {
            margin-bottom: 10px;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .text {
            margin-bottom: 20px;
        }

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] .grid-two-col {
            grid-gap: 12px 0;
        }
    

        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="left"],
        [data-templet-desktop="article-templet-grid-horizontal-two-col"] [data-horizontal="right"] {
            width: 100%;
            margin: 0;
        }
}