[data-template-desktop="article-template-grid-horizontal-two-col"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="right"] {
        display: flex;
        justify-content: flex-end;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="left"] {
        display: flex;
        justify-content: flex-start;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="center"] {
        display: flex;
        justify-content: center;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] > * {
        width: 100%;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] .text-slogan {
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        color: var(--black);
        font-size: 20px;
        font-weight: 300;
        margin: 40px 0;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] .main-title {
        text-align: justify;
        word-wrap: break-word;
        word-break: break-all;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] .udn-btn {
        width: 354px;
        margin-top: 40px;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

        [data-template-desktop="article-template-grid-horizontal-two-col"] .sub-title {
            text-align: justify;
            word-wrap: break-word;
            word-break: break-all;
            padding-bottom: 10px;
            padding-top: 30px;
            font-size: 20px;
            font-weight: 500;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] .text {
            text-align: justify;
            word-wrap: break-word;
            word-break: break-all;
            color: var(--black);
            font-size: 20px;
            font-weight: 300;
            padding: 10px 0;
        }
            [data-template-desktop="article-template-grid-horizontal-two-col"] .text:first-of-type,
            [data-template-desktop="article-template-grid-horizontal-two-col"] .text-info:first-of-type {
                padding-top: 0;
            }

            [data-template-desktop="article-template-grid-horizontal-two-col"] .text:last-of-type,
            [data-template-desktop="article-template-grid-horizontal-two-col"] .text-info:last-of-type {
                padding-bottom: 0;
            }
        
        [data-template-desktop="article-template-grid-horizontal-two-col"] .text-info {
            text-align: left;
            word-wrap: break-word;
            word-break: break-all;
            color: var(--gray-c4);
            font-size: 18px;
            font-weight: 300;
            margin: 8px 0;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .grid-two-col {
            display: grid;
            grid-template-columns: max-content auto;
            grid-gap: 16px 0;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .grid-two-col > * {
            margin: 0;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .image {
            width: 100%;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .description-right {
            display: flex;
            justify-content: flex-end;
            margin: 12px 0 20px;
            color: var(--gray-c4);
            font-size: 16px;
            font-weight: 300;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .media-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 24px auto 0;
        }

            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .media-container .media-item {
                margin-right: 20px;
                margin-bottom: 24px;
            }

            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .media-container .social-media-item:last-of-type {
                margin-right: 0;
            }


            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="left"] .sub-title:first-of-type,
            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="right"] .sub-title:first-of-type {
                padding-top: 0;
            }

            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="left"],
            [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="right"] {
                width: 50%;
                margin: 0 24px;
                position: relative;
            }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="left"] {
            margin-left: 0;
        }

        [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="right"] {
            margin-right: 0;
        }

@media (max-width: 767px) {
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"],
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="right"],
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="left"],
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-position="center"] {
        display: block;
    }
    
    [data-template-desktop="article-template-grid-horizontal-two-col"] .udn-btn {
        width: 100%;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] .text-slogan {
        text-align: justify;
        margin: 20px 0;
    }


    [data-template-desktop="article-template-grid-horizontal-two-col"].sub-title {
        padding-top: 0;
        padding-bottom: 10px;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] .text {
        padding-bottom: 20px;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] .grid-two-col {
        grid-gap: 12px 0;
    }
    

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="left"],
    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="right"] {
        width: 100%;
        margin: 0;
    }

    [data-template-desktop="article-template-grid-horizontal-two-col"] [data-horizontal="two-col"] [data-horizontal="right"] {
        margin-top: 20px;
    }
    

}