<!-- 最新消息樣板 2 -->
<div data-template-desktop="page-template-vartical">
    <div data-activity-header="full-image">
        <div data-activity-block="horizontal-two-col">
            <div data-horizontal="left" >
                <img class="image" src="/resources/img/1.jpg" alt="">
            </div>
            <div data-horizontal="right">
                <div data-activity-block="main-title">
                    <h4 class="small-text">聯合數位文創</h4>
                    <p class="main-title">teamLab 未來遊樂園&與花共生的動物們</p>
                </div>    
                <div class="grid-two-col">
                    <p class="text">活動期間：</p>
                    <p class="text">2021/06/11 ~ 2021/10/11</p>

                    <p class="text">活動地點：</p>
                    <p class="text">國立臺灣科學教育館 7樓南側特展廳</p>

                    <p class="text">主辦單位：</p>
                    <p class="text">聯合數位文創、時藝多媒體</p>
                    
                    <p class="text">服務專線：</p>
                    <p class="text">02-7721-6955 #2 (週一至週日09:00~18:00)</p>

                    <p class="text">活動票價：</p>
                    <p>
                        <span class="text">NT $ 260 ~ 280</span>
                        <span class="text text-orange">會員 9折 優惠搶先購</span>
                    </p>
                </div>
                <div data-position="center-center">
                    <button class="udn-btn btn-orange">點我購票</button>
                </div>
            </div>
        </div>
    </div>

    <div data-activity-body="content">

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">關於 teamLab</h1>
            <p class="text">
                自2001年起開始活動的藝術團隊。通過團隊創作來探索藝術、科學、技術和自然界交彙點的國際性跨域研究團隊。由藝術家，程序員，工程師，CG動畫師，
                數學家和建築師等各個領域的專家組成。teamLab想通過藝術來探索人與自然、人與世界的新關系。人類為了更好的認知世界，習慣性的把世界分割，並將其視為具有邊界的事物。
                我們探索認知的邊界，並試圖超越人類對世界，對時間連續性的邊界的認知。世間萬物都是奇跡般地存在於積年累月且沒有邊界的連續性上的。
            </p>
        </div>
        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">關於Future Park</h1>
            <p class="text">共創 / Co-Creation</p>
            <p class="text">
                《學習！未來游樂園》是以共創（共同創作）為目的的教育項目和實驗場所。
                teamLab關注於改變同一空間中人們的關系。為了讓他人的存在成為一種積極體驗，teamLab希望能將個人創造活動變成共創活動。
                技術的飛速發展讓我們更快地擁抱未來，很多工作將由機器來完成。未來，人所特有的能力，比如思考力和創造力，將變的越來越重要。
                當今社會的教育和日常生活抑制了人類的創造力。此外，很多人熱衷於使用智能手機。通過智能手機，人們可以交流思想，但彼此之間卻是孤立的。因此，共創活動的可能性會減少。
                人類通過與他人的溝通和分享來了解世界；在感知世界的過程中用身體去思考。人類社會的進步正是源於共創成果。我們希望通過體驗共創活動的樂趣，可以讓人們在日常生活中更有創造力。這也是此項目的初衷。
            </p>
        </div>
        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">網路購票</h1>
            <ul class="disc text">
                <li>全票380元</li>
                <li>
                    優待票350元：
                    <p class="text">1、年齡3歲(含)以上之兒童。</p>
                    <p class="text">2、持本國大專院校以下有效學生證件，民國109學年度下學期註冊章為憑。（碩博士生、社區大學、空中大學及在職進修等不適用）</p>
                </li>
            </ul>
        </div>
        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">現場購票</h1>
            <ul class="disc text">
                <li>優待票350元：
                    <p class="text">1、年齡3歲(含)以上之兒童。</p>
                    <p class="text">2、持本國大專院校以下有效學生證件，民國109學年度下學期註冊章為憑。（碩博士生、社區大學、空中大學及在職進修等不適用）</p>
                </li>
                <li>愛心票190元：
                    <p class="text">1、本國籍65歲(含)以上長者本人適用</p>
                    <p class="text">2、本國籍65歲(含)以上長者本人適用</p>
                </li>
                <li>免票標準：年齡未滿3歲之幼童（年齡計算方式以進場當日實歲計算，必須成年人持票陪同
                    <p class="text">※優待票、愛心票及免票身份者需驗證、請於購票及入場前主動出示證件；各項優惠適用年齡計算方式以進場當日實歲計算。</p>
                </li>
            </ul>
        </div>
        
        <div data-activity-block="horizontal-single-col">
            <a href="#" class="text-link">
                <img class="icon" src="/resources/icons/icon-attached.svg" alt="">
                <span >附件1：teamLab 未來遊樂園&與花共生的動物們導覽手冊</span>
            </a>
            <a href="#" class="text-link">
                <img class="icon" src="/resources/icons/icon-attached.svg" alt="">
                <span >附件2：teamLab 詳細介紹</span>
            </a>
        </div>

    </div>
</div>
</html>