<!-- 訂報服務 -->
<div data-template-desktop="page-template-vartical">
    <div data-activity-body="content">
        <div data-activity-block="main-title">
            <p class="main-title center">訂報服務</p>
        </div>

        <div data-activity-block="horizontal-single-col">
            <p class="text">聯合報系提供聯合報、聯合報位版、經濟日報及好讀周報等訂閱服務。</p>
        </div>

        <div data-activity-block="horizontal-single-col">
            <div class="grid-four-col">
                <div class="col">
                    <img class="image" src="/resources/img/img-career-development-3-1-mobile.png" alt="">
                    <p class="small-text">一份適合全家人閱讀的報紙，提供最完整的報導、您一日所需的精神糧食</p>
                </div>
                <div class="col">
                    <img class="image" src="/resources/img/img-career-development-3-1-mobile.png" alt="">
                    <p class="small-text">適合關注國家發展、政經局勢的知識份子，全面掌握重大議題並深入剖析</p>
                </div>
                <div class="col">
                    <img class="image" src="/resources/img/img-career-development-3-1-mobile.png" alt="">
                    <p class="small-text">緊抓社會脈動與工商需求，深化專業知識的財經報紙，您做決策的好幫手</p>
                </div>
                <div class="col">
                    <img class="image" src="/resources/img/img-career-development-3-1-mobile.png" alt="">
                    <p class="small-text">全球時事到流行話題，精選給青少年的優質內容，會考作文最佳學習教材</p>
                </div>
            </div>
        </div>

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">國內訂報辦法</h1>

            <ul class="disc">
                <li>郵局劃撥訂報：戶名：聯合報股份有限公司，帳號18276886（聯合報）。19920736（經濟日報）。請註明參加所參加的活動名稱、贈品名稱、贈品碼、手機號碼及e-mail，舊訂戶請註明原送報單位名稱及電話。</li>
                <li>信用卡訂報：下載信用卡訂報表，填妥資料後，傳真至 (02) 8643-3578。</li>
                <li>線上訂報：udn買東西。</li>
                <li>洽詢各地送報單位辦理。</li>
            </ul>
        </div>

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">捷運轉公車</h1>
            <ul class="disc text">
                <li>搭乘捷運內湖線（棕線）、板南線（藍線）到「南港展覽館站」，由出口6 到南港路轉乘公車（藍22、605、605副、668、919、基隆客運(基隆─板橋) 、基隆-中崙、福和客運(基隆-板橋、台北-金山)、板橋-瑞芳線）。</li>
            </ul>
        </div>

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">大陸地區訂報辦法</h1>

            <ul class="disc text">
                <li>大陸地區尚未許可台灣報紙公開販售，但台灣鄉親可合法向獲輸入及經營 許可的圖書公司訂閱聯合報。</li>
                <li>聯合報系服務大陸地區讀者，提供整份報紙訊息給台灣鄉親，可以同步掌握台灣家鄉社會動態，客居他鄉者的最佳精神食糧。更可開闊國際視野，蒐集金融、商務情報，協助事業發展。
                    歡迎電話聯繫查詢及指教，請向客居大陸的親朋好友、同事廣泛推介訂閱，也歡迎代為訂閱或轉贈赴大陸工作居留的親朋好友。
                </li>
                <li>大陸地區訂報，台灣服務洽詢電話：886-2-8692-5588#3538。</li>
            </ul>
        </div>

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">海外地區訂報辦法</h1>

            <ul class="disc text">
                <li>海外郵寄信用卡訂閱單</li>
                <li>email：overseas.udn@udngroup.com</li>
                <li>FAX：886-2-86433578</li>
            </ul>
        </div>

        <div data-activity-block="horizontal-single-col">
            <h1 class="sub-title">聯合報數位版訂閱辦法</h1>

            <ul class="disc text">
                <li>訂閱說明</li>
                <li>服務專線： (02) 7721-6909 按 1</li>
                <li>email：udnsubscribe@udngroup.com</li>
            </ul>
        </div>

        <div data-activity-block="horizontal-single-col">
            <a href="#" class="text-link">
                <img class="icon" src="/resources/icons/icon-attached.svg" alt="">
                <span >附件1：聯合報系信用卡訂報表</span>
            </a>
            <a href="#" class="text-link">
                <img class="icon" src="/resources/icons/icon-attached.svg" alt="">
                <span>附件2：海外郵寄信用卡訂閱單</span>
            </a>
        </div>
    </div>
</div>