.large-category-article { /* 大分類文章 */
    padding-top: 80px;
    padding-bottom: 80px;
}
.secend-category-article { /* 二分類文章 */
    /* display: none; */
}
.third-category-article { /* 三分類文章 */
    /* display: none; */
}
.fourth-category-article { /* 四分類文章 */
    /* display: none; */
    border: solid 1px #e4e4e4;
    border-top: none;
    padding: 20px 24px;
}

.showArticle {
    display: block;
}


@media (max-width: 1199px) {
    .large-category-article {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .fourth-category-article {
        padding-left: 16px;
        padding-right: 16px;
    }
}

