[data-templet="article-background"]  {
    padding: 40px 24px;
    position: relative;
    background-repeat: no-repeat;
}

    [data-background-color="white"]  {
        background-color: var(--white);
    }

    [data-background-color="gray"]  {
        background-color: var(--gray-c1);
    }

    [data-templet="article-background"][data-image-position="top-left"]  {
        background-position: top left;
    }

    [data-templet="article-background"][data-image-position="bottom-right"]  {
        background-position: bottom right;
    }

    [data-templet="article-background"][data-image-position="cente-cente"]  {
        background-position: center center;
    }


        [data-templet="article-background"][data-backgroud-type="udn-member"]  {
            background-image: url('/resources/img/bg-becomeamember.png');
        }
        
        [data-templet="article-background"][data-backgroud-type="udn-awards"]  {
            background-image: url('/resources/img/img-unn-emptylogo-gold.png');
        }


@media (max-width: 767px){
    [data-templet="article-background"] {
        padding: 40px 20px;
    }

        [data-background-color-mobile="white"]  {
            background-color: var(--white);
        }

        [data-background-color-mobile="gray"]  {
            background-color: var(--gray-c1);
        }

        [data-background-color-mobile="none"]  {
            background-color: transparent;
            padding: 0;
        }
    
    [data-templet="article-background"][data-backgroud-type="udn-member"]  {
        background-image: url('/resources/img/bg-becomeamember.png');
    }

    [data-templet="article-background"][data-backgroud-type="udn-member"]  {
        background-image: url('/resources/img/bg-becomeamember.png');
    }

}