.slideShow {
    height: 650px;
    background-color: gray;
}

@media (max-width: 1199px) {
    .slideShow {
        height: 640px;
    }
}

@media (max-width: 767px) {
    .slideShow {
        height: 345px;
    }
}